function getImage(sku) {
  if (sku && sku.imageList && sku.imageList.length > 0) {
    var image = sku.imageList[0];
    if (typeof image === 'string') {
      return image;
    } else if (typeof image === 'object') {
      return image.url || '';
    }
  }
  return '';
}

function getTitle(title, sku) {
  if (sku && sku.optionList && sku.optionList.length > 0) {
    for (var i = 0; i < sku.optionList.length; i++) {
      var option = sku.optionList[i];
      title += ' ' + option.title;
    }
  }
  return title;
}

function getTags(sku) {
  var tags = '';
  if (sku && sku.optionList) {
    for (var i = 0; i < sku.optionList.length; i++) {
      if (i !== 0) tags += ',';
      tags += sku.optionList[i].title;
    }
  }
  return tags;
}

function isOptionChecked(optionList, option) {
  if (!optionList) return false;
  for (var i = 0; i < optionList.length; i++) {
    if (optionList[i]._id === option._id) {
      return true;
    }
  }
  return false;
}

module.exports = {
  getTags: getTags,
  getImage: getImage,
  getTitle: getTitle,
  isOptionChecked: isOptionChecked,
};
