function getImage(imageList) {
  if (imageList && imageList.length > 0) {
    var image = imageList[0];
    if (typeof image === 'string') {
      return image;
    } else if (typeof image === 'object') {
      return image.url || '';
    }
  }
  return '';
}

function getTitle(title, sku) {
  if (sku && sku.optionList && sku.optionList.length > 0) {
    for (var i = 0; i < sku.optionList.length; i++) {
      var option = sku.optionList[i];
      title += ' ' + option.title;
    }
  }
  return title;
}

function isOptionChecked(optionList, option) {
  if (!optionList) return false;
  for (var i = 0; i < optionList.length; i++) {
    if (optionList[i]._id === option._id) {
      return true;
    }
  }
  return false;
}

function getPriceLabel(salePrice, originalPrice) {
  if (originalPrice === 0 || salePrice === 0) {
    return '';
  } else if (salePrice < originalPrice) {
    var discount = (salePrice / originalPrice) * 10;
    if (Math.floor(discount) !== discount) {
      discount = Math.round(discount * 10) / 10;
    }
    return discount + '折';
  } else {
    var markup = salePrice / originalPrice;
    if (Math.floor(markup) !== markup) {
      markup = Math.round(markup * 10) / 10;
    }
    return markup + '倍';
  }
}

module.exports = {
  getImage: getImage,
  getTitle: getTitle,
  isOptionChecked: isOptionChecked,
  getPriceLabel: getPriceLabel,
};
