function isOptionChecked(skuOptionList, option) {
  for (var i = 0; i < skuOptionList.length; i++) {
    if (skuOptionList[i]._id === option._id) {
      return true;
    }
  }
  return false;
}

function getUploadImageFile(files) {
  var images = [];
  for (var i = 0; i < files.length; i++) {
    var image = files[i];
    if (typeof image === 'string') {
      images.push({
        type: 'image',
        url: image,
      });
    } else if (typeof image === 'object') {
      images.push(image);
    }
  }
  return images;
}

module.exports = {
  isOptionChecked: isOptionChecked,
  getUploadImageFile: getUploadImageFile,
};
