function getSpuCategoryTitle(category) {
  return (category && category.title) || '';
}
function isOptionChecked(sku, option) {
  if (!sku.optionList) return false;
  for (var i = 0; i < sku.optionList.length; i++) {
    if (sku.optionList[i]._id === option._id) {
      return true;
    }
  }
  return false;
}

function getUploadImageFile(files) {
  var images = [];
  for (var i = 0; i < files.length; i++) {
    var image = files[i];
    if (typeof image === 'string') {
      images.push({
        type: 'image',
        url: image,
      });
    } else if (typeof image === 'object') {
      images.push(image);
    }
  }
  return images;
}

module.exports = {
  getSpuCategoryTitle: getSpuCategoryTitle,
  isOptionChecked: isOptionChecked,
  getUploadImageFile: getUploadImageFile,
};
